.filter.option-set{:datafiltergroup => "category"}
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-default{:href => "#", :datafilter =>""} All
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-joy{:href => "#", :datafilter => ".emotion-joy"} Joy
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-sadness{:href => "#", :datafilter => ".emotion-sadness"} Sadness
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-anger{:href => "#", :datafilter => ".emotion-anger"} Anger
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-surprise{:href => "#", :datafilter => ".emotion-surprise"} Surprise
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-disgust{:href => "#", :datafilter => ".emotion-disgust"} Disgust
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-fear{:href => "#", :datafilter => ".emotion-fear"} Fear
  .span2.emotion-icon-filter
    %a.btn.btn-large.btn-block.btn-uncertain{:href => "#", :datafilter => ".emotion-uncertain"} Other