.filter.option-set{'id' => 'bayesian-filter', :datafiltergroup => "classifier"}
  %div.btn-group{"data-toggle" => "buttons-radio"}
    %a{"class" => "btn btn-large btn primary specialspan5 active", :href => "#", :datafilter =>".default-classifier"}Default Classifier
    %a{"class" => "btn btn-large btn primary specialspan4", :href => "#", :datafilter =>".bayesian-classifier"}Bayesian Classifier
