<h1>Listing emotions</h1>

<% @followers.each do |follower| %>
  <% follower.follower_tweets.each do |tweet| %>
  <tr>
    <td>
      <%= tweet.emotion %><br />
    </td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

