%div#dashboard-loading-modal{"class"=>"modal-backdrop fade in"}
  %div{ "class" => "modal", "tabindex" => "-1", "role" => "dialog"}
    %div{'class' => 'modal-body'}
      %div.btn.btn-block.btn-fear "Ok, hold on while we load your twitter info..."

.row#header
  %div.span2.header-chunk-large
    %dl(class = "palette palette-header1")
      %h1#app-logo Sentimentalist
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header2")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header3")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header4")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header5")
  %div.span2.header-chunk-small
    %dl(class = "palette palette-header6")


:javascript

  $(document).ready( function() {

    var dashboardLoaded = false;

    // var runningResqueTask = true;
    // var firstPass = true;



    function myRequest() {
      $.getJSON('/dashboard/index/', function(response) {
        console.log(response.user.resque_complete);
        loadComplete = response.user.resque_complete;

          if (!loadComplete) {
            $('#dashboard-loading-modal').show();
          }
          else {
            $('#dashboard-loading-modal').hide();
            window.location='/dashboard';
          }
        });
    }

    function setIconfield() {

      if (!dashboardLoaded) {
        myRequest();

        setTimeout( setIconfield, 1000);
      }
    }


    setIconfield();

  });
