#welcome-background
  %div#desktop
    .container
      .row#welcome-content-container
        %div.span2.welcome-icon-column
          %div.emotion-icon-welcome.palette.palette-joy
          %div.emotion-icon-welcome.palette.palette-ambiguous
        %div.span2.welcome-icon-column
          %div.emotion-icon-welcome.palette.palette-blue2
          %div.emotion-icon-welcome.palette.palette-blue1
        %div.span4
          %h1#app-logo The change you wanted was rejected
          %h2#app-subheading Maybe you tried to change something you didn't have access to
%div#mobile
  .container
    %div#welcome-content-container-mobile
      %h1#app-logo-mobile The change you wanted was rejected
    .row#welcome-content-container-mobile-icons
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-joy
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-ambiguous
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-blue1
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-blue2
    .row.app-subtext
      %h2#app-subheading-mobile Maybe you tried to change something you didn't have access to
