#welcome-background
  %div#desktop
    .container
      .row#welcome-content-container
        %div.span2.welcome-icon-column
          %div.emotion-icon-welcome.palette.palette-joy
          %div.emotion-icon-welcome.palette.palette-ambiguous
        %div.span2.welcome-icon-column
          %div.emotion-icon-welcome.palette.palette-blue2
          %div.emotion-icon-welcome.palette.palette-blue1
        %div.span4
          %h1#app-logo We're sorry, but something went wrong
%div#mobile
  .container
    %div#welcome-content-container-mobile
      %h1#app-logo-mobile We're sorry, but something went wrong
    .row#welcome-content-container-mobile-icons
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-joy
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-ambiguous
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-blue1
      %div.welcome-icon-column-mobile
        %div.emotion-icon-welcome-mobile.palette.palette-blue2

