

.dashboard-nav {
	> li {
		display: inline-block;
		margin: 15px;
	}
}

.emotion-icon {
	margin-bottom: 4px;
	margin-top: 4px;
}

.emotion-icon-filter {
	margin-bottom: 40px;
}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.palette-joy {
  background-color: #f1c40f;
}

.palette-anger {
  background-color: #c0392b;
}

.palette-surprise {
  background-color: #1abc9c;
}

.palette-sadness {
  background-color: #9b59b6;
}

.palette-disgust {
  background-color: #d35400;
}

.palette-uncertain {
  background-color: #bdc3c7;
}