%a{"class" => "btn btn-large btn primary", :href => "#", :datafilter =>""} All
%a{"class" => "btn btn-large btn primary", :href => "#", :datafilter => ".emotion-joy"}Joy
%a{"class" => "btn btn-large btn primary",:href => "#", :datafilter => ".emotion-anger"}Anger
%a{"class" => "btn btn-large btn primary",:href => "#", :datafilter => ".emotion-sadness"}Sadness
%a{"class" => "btn btn-large btn primary",:href => "#", :datafilter => ".emotion-surprise"}Surprise
%a{"class" => "btn btn-large btn primary",:href => "#", :datafilter => ".emotion-disgust"}Disgust
%a{"class" => "btn btn-large btn primary",:href => "#", :datafilter => ".emotion-uncertain"}Other