.filter.option-set{:datafiltergroup => "category"}
        %div.btn-group{"data-toggle" => "buttons-radio"}
          %a{"class" => "btn btn-large btn primary specialspan2 active", :href => "#", :datafilter =>""} All
          %a{"class" => "btn btn-large btn primary specialspan1", :href => "#", :datafilter => ".emotion-joy"}Joy
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-anger"}Anger
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-sadness"}Sadness
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-surprise"}Surprise
          %a{"class" => "btn btn-large btn primary specialspan1",:href => "#", :datafilter => ".emotion-disgust"}Disgust
          %a{"class" => "btn btn-large btn primary specialspan2",:href => "#", :datafilter => ".emotion-uncertain"}Ambiguous