.filter.option-set{:datafiltergroup => "timefilter"}
  .span3
    %ul
      %a.btn{:href => "#", :datafilter => ".week"}
        Week
      %a.btn{:href => "#", :datafilter => ".month"}
        Month
      %a.btn{:href => "#", :datafilter => ".year"}
        Year