%div#instructions_modal{"class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div{'class' => 'modal-header'}
    %div.btn.btn-block.btn-fear
      %div#instructions
        %div#instructions-heading1 Classifiy:
        %div * only your own personal tweets
        %div - select the tab labeled "me"
        %div - select the tab labeled "bayesian classifier"
        %div - classifiy your recent tweets by clicking on them
        %div#instructions-heading2 View and Sort:
        %div * your followers
        %div - use a range of sorting filters, see what your followers' tweet language reveals about how they feel
    %div.btn.btn-block.btn-ambiguous#return-to-dashboard{"data-dismiss" => "modal", "aria-hidden" => "true"}Return to Dashboard
