%div#manage_account_modal{"class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div{'class' => 'modal-footer'}
    %div.manage-account-modal
      %a.btn.btn-block.btn-fear{"data-dismiss" => "modal", "aria-hidden" => "true"}Return to Dashboard
      =link_to "Delete My Account", '#', class: "btn btn-block btn-fear confirm-delete", data: { dismiss: "modal" }, 'aria-hidden' => true
