%div#post_to_twitter_modal{"class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div{'class' => 'modal-header'}
    %button{"type" => "button", "class" => "close", "data-dismiss" => 'modal', "aria-hidden" => "true"}×
  %div{'class' => 'modal-body'} This is the body
  %div{'class' => 'modal-footer'}
    %button{'class' => 'btn', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }Close
    %button{'class' => 'btn btn-primary'} Post to Twitter