%div#post_to_twitter_modal{"class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div{'class' => 'modal-header'}
  %div{'class' => 'modal-body'}
    = simple_form_for '', url: {controller: 'dashboard', action: 'post_to_twitter'} do |f|
      = f.input :tweet, as: :text, placeholder: 'Tweet something. . .', input_html: { cols: 100, rows: 3 }, label: false
      %div{'class' => 'modal-footer'}
        %button{'href' => '#' class' => 'btn'} Close
        =f.button :submit, "Post Your Tweet", 'class' => 'btn btn-primary'
