%div#reset_bayesian_classifier_modal{"class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div{'class' => 'modal-footer'}
    %div.reset-bayesian-classifier-modal
      %a.btn.btn-block.btn-fear{"data-dismiss" => "modal", "aria-hidden" => "true"}Just Kidding
      = link_to "I'm Serious", '#', class: "btn btn-block btn-fear confirm-reset", data: { dismiss: "modal" }, 'aria-hidden' => true
