- @user_tweets.each do |tweet|
  %div{"id" => "evaluate_user_tweet_modal#{tweet.id}", "class" => "modal hide fade", "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    %div{'class' => 'modal-header'}Here's Your Tweet:
    %div{'class' => 'modal-body'}=tweet.text
    %div{'class' => 'modal-footer'}
      %a.btn.btn-block.btn-joy{"href" => "#"} Joy
      %a.btn.btn-small.btn-block.btn-surprise{"href" => "#"} Surprise
      %a.btn.btn-small.btn-block.btn-disgust{"href" => "#"} Disgust
      %a.btn.btn-small.btn-block.btn-fear{"href" => "#"} Fear
      %a.btn.btn-small.btn-block.btn-anger{"href" => "#"} Anger
      %a.btn.btn-small.btn-block.btn-uncertain{"href" => "#"} Ambiguous
