%div(class = "emot emotion-joy emotion-fear emotion-anger emotion-sadness emotion-surprise emotion-disgust emotion-ambiguous week followers user default-classifier")
  %dl(class = "palette-user-profile palette-#{current_user.emotion}")
    %dt.user-profile-emotion=current_user.emotion
%div(class = "emot emotion-fear emotion-joy emotion-anger emotion-sadness emotion-surprise emotion-disgust emotion-ambiguous week followers user bayesian-classifier")
  %dl(class = "palette-user-profile palette-#{current_user.bayesian_emotion}")
    %dt.user-profile-emotion=current_user.bayesian_emotion

